.homeContainer {
    row-gap: 7rem;
}

.homeContent {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.homeSocial {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.homeSocialIcon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.homeSocialIcon:hover {
    color: var(--title-color-dark);
}

.homeTitle {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);

}

.homeHand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.homeSubtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.homeSubtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    top: 1rem;
    left: 0;
}

.homeDescription {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.homeImg {
    background: url(../../assets/profilePic.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(255 255 255/30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profileAnimation 8s ease-in-out infinite 1s;
}

@keyframes profileAnimation {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.homeScroll {
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.7rem);
    }
}

.homeScrollName {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.homeScrollArrow {
    font-size: 1.25rem;
    color: var(--title-color);
}

@media screen and (max-width: 992px) {
    .homeContent {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .homeHand {
        width: 26px;
        height: 26px;
    }

    .homeSubtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .homeSubtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .homeDescription {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .homeImg {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 9px rgba(255 255 255/30%);
    }

    .homeScroll {
        margin-left: 7.5rem;
    }
}

@media screen and (max-width: 768px) {
    .homeContent {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .homeImg {
        order: initial;
        justify-self: initial;
        box-shadow: inset 0 0 0 6px rgb(255, 255, 255/30%);
        height: 200px;
        width: 200px;
    }

    .homeData {
        grid-column: 1/3;
    }

    .homeScroll {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .homeImg {
        width: 180px;
        height: 180px;
    }

    .homeHand {
        width: 22px;
        height: 22px;
    }
}